{
  "env": {
    "es": {
      "ignore": [
        "**/*.test.js"
      ],
      "presets": [[
        "env",
      {
        "modules": false
      }
      ],
      "flow",
      "stage-3"
      ]
    },
    "commonjs": {
      "ignore": [
        "**/*.test.js"
      ],
      "presets": [[
        "env",
      {
        "modules": "commonjs"
      }
      ],
      "flow",
      "stage-3"
      ]
    },
    "test": {
      "presets": [[
        "env",
      {
        "modules": "commonjs"
      }
      ],
      "flow",
      "stage-3"
      ]
    }
  }
}
